.carousel .carousel-status {
  background: aqua;
  font-size: 12px;
  text-shadow: none;
}

.carousel .slide .legend {
  background: aqua;
  border-radius: 0;
  font-size: 16px;
  margin-left: 0;
  left: 0;
  bottom: 13px;
  width: 100%;
}

.carousel .control-dots {
  padding: 0;
}


.carousel .carousel-slider .control-arrow {
  color: #bf00ff
}

.carousel .carousel-slider .control-arrow:before {
  color: #bf00ff
}

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel .control-dots .dot {
  background: aqua;
  box-shadow: none;
  webkit-box-shadow: none;
}

.carousel .thumb.selected, .carousel .thumb:hover{
  border: 2px dotted #bf00ff;
}