.contact-wrapper {
  display: flex;
  flex-direction: column;

}


.contact-wrapper h2 {
  font-weight: 600;
  color: whitesmoke;
  margin: 0;
}

.contact-wrapper h3 {
  margin: 5px 0;
  margin-bottom: 20px;
  font-weight: 400;
  color: whitesmoke;
}


.info {
  box-sizing: border-box;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  background: #80bfff;
}

.info img {
  box-sizing: border-box;
  width: 150px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 10px;
  transform: rotate(0);
  transition: all 1s ease-in-out;
}

.info img:hover {
  transform: rotate(360deg)
}

.contact-links {
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  background: #ff9f80;
  padding: 10px;
  width: 80%;
}

.contact-links p {
  display: flex;
  justify-content: center;
}
.contact-links i {
  font-size: 30px;
  width: 20%;
  padding-left: 5px;
  color: whitesmoke;

}


.contact-links a {
  color: whitesmoke;
  font-size: 20px;
  width: 70%;
  line-height: 30px;
  transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0 5px;
}

.contact-links a:hover {
  background: #80bfff;
}

.contact-links a:active {
  color: #676565;
}

.contact-links a:visited {
  color: #676565;
}


@media only screen  and (min-width : 700px) {

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10% 20%;
  
  }

  .info, .contact-links {
    height: 300px;
  }

  .info {
    margin-top: 0;
  }
  .info img {
    margin-top: 10%;
  }

  .contact-links {
    padding-top: 5%;
  }

} 