.drone-wrapper {
  text-align: center;
}

.drone-intro {
  padding: 3px;
  background: #00bfff;
  margin-bottom: 20px;
}

.drone-intro p {
  color: whitesmoke;
}

.insta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insta-card {
  margin: 0 auto;
  margin-bottom: 15px;
}