/* .landing-grid {
  display: grid;
  grid-template-areas:  ' welcome welcome welcome   '
                        ' welcome welcome welcome   '
                        ' skills skills skills  '
                        ' skills skills skills  ';
 overflow: hidden;                       
}
                       */


.landing-grid {
  display: flex;
  flex-direction: column;
  position: relative;
}                  

.welcome h1 {
  font-weight: 400;
  margin: 0;
  font-size: 2.8em;
}

.welcome {
  /* grid-area: welcome; */
  margin: 10%;
  /* height: 70%; */
  position: relative;
}



.skills {
  /* grid-area: skills; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 8%;
  position: fixed;
  top: 50vh;
;
}

.skills section {

  border-radius: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;;
  margin: 3px;
  padding: 0;
  font-size: 18px;
}

.html{
  background-color: #ff9f80;
  grid-area: html;
  animation: html .5s ease-in-out; 
}

@keyframes html {
  0% {transform: translateX(-100px)}
  100% {transform: translateX(0px)} 
}

.css{
  grid-area: css;
  animation: css 1s ease-in-out;
  background-color: #80bfff	;
}

@keyframes css {
  0% {transform: translateY(-500px)}
  100% {transform: translateY(0px)} 
}

.ruby{
  background-color: #ff8080;
  grid-area: ruby;
  animation: ruby .8s ease-in-out;
}

@keyframes ruby {
  0% {transform: translateX(100px)}
  100% {transform: translateX(0px)} 
}

.js{
  background-color: #ffdf80;
  grid-area: js;
  animation: html .9s ease-in-out; 
}

.node{
  background-color: #80ff9f;
  grid-area: node;
  animation: node 1s ease-in-out;
}

@keyframes node {
  0% {transform: translateY(300px)}
  100% {transform: translateY(0px)} 
}

.react{
  background-color: #80dfff;
  grid-area: react;
  animation: ruby 1s ease-in-out;

}



@media only screen  and (min-width : 700px) {
  
  .welcome {
    margin: 5% 20%;
    height: 26vh;
    position: absolute;
  }

  
  .welcome h1 {
    font-weight: 400;
    margin: 0;
    font-size: 4.5em;
  }

  .skills {
    margin: 2% 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 54%;
  }

  .skills section {
    width: 6em;
    height: 6em;
    text-align: center;
    line-height: 6em;;
    margin: 10px;
    padding: 0;
    font-size: 24px;
  }
  



}